body{
    /* background-color: red; */
}
#services{
    flex-direction: column;
}
.box{
    margin-top: 10px;
    /* width: 80%; */
}
#client::before{
    content: "";
    position: absolute;
    height: 120%;
    width: 100%;
    background: url('car4.jpg') no-repeat center center/cover ;
    z-index: -1;
}
.boxes{
    display: flex;
    flex-wrap: wrap;
}
.sec{
    padding: 3px 0px;
}
.sec::before{
    height: 600px;
}
.item{
    display: block;
    font-size: 1rem;
    padding: 0px;
}
.item a{
    margin: 0px;
}
#form1{
    
}